* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-header {
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--bg-color);
  padding: 1rem 0;
  z-index: 1000;
  transition: background 0.3s ease;
  border-bottom: 1px solid var(--border-color);
}


.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.logo {
  justify-self: start;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  color: var(--text-color);
}

.nav {
  justify-self: center;
}

.nav-list {
  list-style: none;
  display: flex;              /* ISSO GARANTE MENU EM LINHA */
  gap: 2rem;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-size: 0.95rem;
}

.nav-list a {
  color: var(--text-color);
  transition: color 0.3s ease;
}

.nav-list a:hover {
  color: var(--primary-color);
}


.header-actions {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.theme-toggle {
  background: transparent;
  border: 1px solid var(--border-color);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.theme-toggle:hover {
  border-color: var(--primary-color);
  color: var(--primary-color);
  transform: rotate(15deg);
}

.theme-toggle svg {
  width: 18px;
  height: 18px;
}

.cta {
  padding: 0.6rem 1.2rem;
  background: var(--primary-color);
  color: var(--btn-text);
  text-decoration: none;
  border-radius: 30px;
  font-size: 0.9rem;
  transition: 0.3s ease;
}

.cta:hover {
  opacity: 0.9;
}


.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 1.6rem;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s ease;
}

@media (max-width: 768px) {

  .nav {
    position: fixed;
    top: 70px; /* altura do header */
    right: -100%;
    width: 70%;
    height: calc(100vh - 70px);
    background: var(--bg-color);
    transition: right 0.3s ease;
    display: flex;
    align-items: flex-start;   /* começa do topo */
    justify-content: flex-start;
    padding: 40px 30px;
  }

  .nav.active {
    right: 0;
  }

  .nav-list {
    flex-direction: column;
    gap: 28px;
  }


  .cta {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .cta {
    display: none;
  }

}

